@model IEnumerable<PPC.Models.PROPERTY>

@{
    ViewBag.Title = "ViewListPersonalProject";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>ViewListPersonalProject</h2>

<div class="col-md-12">
    <p>
        <br>
        <br>

        @Html.ActionLink(" Create New", "Create")

    </p>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header" data-background-color="blue">
                    <a href=""><h4 class="title">My Projects</h4></a>
                    @*<p class="category">Here is a subtitle for this table</p>*@
                </div>
                <div class="card-content table-responsive">
                    <table class="table">
                        <thead class="text">
                            <tr>
                                <th></th>
                                <th><b>Property Name</b></th>
                                <th><b>Avatar</b></th>
                                <th><b>Property Type</b></th>
                                <th><b>District</b></th>
                                <th><b>Price</b></th>
                                <th><b>Area</b></th>
                                <th><b>Status</b></th>
                                <th><b>Agency</b></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>

                                        <a href="~/Admin/ProjectAdmin/EditMe/@item.ID" title="Edit"><img src="~/Images/edit.png" width="20" /></a><br />
                                        <a href="~/Admin/ProjectAdmin/Delete/@item.ID" title="Delete"><img src="~/Images/if_delete_16_22536.png" width="20" /></a>
                                        @*<a href="~/Admin/ProjectAdmin/EditStatus/@item.ID" title="Edit"><img src="~/Images/edit.png" width="10" /></a><br />*@

                                        @*@Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                                            @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                                            @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                                        *@
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PropertyName)
                                    </td>
                                    <td>
                                            <img src="~/Images/@item.Avatar" width="100px" />
                                        </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PROPERTY_TYPE.CodeType)
                                        @*<p>@item.PROPERTY_TYPE.CodeType</p>*@
                                    </td>
                                    <td>
                                        @*<p>@item.DISTRICT.DistrictName</p>*@
                                        @Html.DisplayFor(modelItem => item.DISTRICT.DistrictName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Price)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Area)
                                    </td>



                                    <td>
                                        @*@Html.DisplayFor(modelItem => item.PROJECT_STATUS.Status_Name)*@
                                        @Html.DisplayFor(modelItem => item.PROJECT_STATUS.Status_Name)
                                        @*@Html.DropDownList("Status_ID", new SelectList(db.PROJECT_STATUS, "ID", "Status_Name"), new { @class = "form-control" })*@


                                    </td>


                                    <td>

                                        @Html.DisplayFor(modelItem => item.USER.FullName)
                                    </td>

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>
